<p id="notice"><%= notice %></p>

<p>
  <strong>Valor:</strong>
  <%= @temperatura.valor %>
</p>

<%= link_to 'Edit', edit_temperatura_path(@temperatura) %> |
<%= link_to 'Back', temperaturas_path %>
