<h1>Nosotros</h1>
<p>
    Codigo de ejemplo sobre la información de la aplicación web
</p>

                <section id="main-content">

                    <div class="space-30"></div>

                    <!--Chart container start-->
                    <div class="container">

                        <div class="row">

                            <div class="col-md-12">
                                <div class="panel">
                                    
                                    <header class="panel-heading">
                                        <div class="panel-actions">
                                            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
                                            <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
                                        </div>
                                        <h2 class="panel-title">Morris One line chart </h2>
                                    </header>

                                    <div class="panel-body">
                                        <div class="morris-chart-data">
                                            <morris></morris>
                                        </div>
                                    </div>

                                </div>
                            </div>  <!--col end--> 

                        </div>

                    </div>
                    <!--Chart container end-->

                    <!--footer start-->
                    <div class="footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <span>&copy; Copyright 2016. Assan</span>
                            </div>
                        </div>
                    </div>
                    <!--footer end-->

                </section><!--end main content-->
                
                



