<div class="jumbotron">
  <h2>Control del Horno</h2>
  <p>Control del horno de vitrificado de Decovi</p>
  <p>
      
      <%= link_to 'Vidrio', home_about_path, class: 'btn btn-success' %>
      <%= link_to 'Cerámica', home_about_path, class: 'btn btn-success' %>
      
      <%= link_to 'Paro de emergencia', home_about_path, class: 'btn btn-danger' %>
    </p>
</div>